.container { 
    margin: 200px;   
    margin-left: 100px;
    margin-right: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
} 
 
.Cadastro {
    
}

.camposCadastro { 
    width: 350px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: white; 
    padding: 35px;
} 
 
.camposCadastro form {
    display: flex;
    align-items: center;
    justify-content: center;
}

 
.titulo { 
    width: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
} 
 
.titulo h1 { 
    font-size: 52px; 
    font-weight: 700; 
} 
 
.titulo p { 
    margin-top: 10px; 
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    line-height: 20px;  
    width: 220px; 
} 
 
 
.camposCadastro label { 
    display: block; 
 
    font-size: 14px; 
 
    margin-bottom: 6px; 
 
    color: #222; 
} 
 
 

 
.camposCadastro input { 
    width: 100%; 
    height: 35px; 
 
    padding: 5px 8px; 
 
    margin-bottom: 18px; 
 
    box-sizing: border-box; 
 
    border: 1px solid #999; 
    border-radius: 5px; 
 
    background-color: #d9d9d9; 

} 
 
 

 
.camposCadastro button { 
    width: 100%;   
    height: 45px;   
   
    margin-top: 5px;   
    border: none;
    border-radius: 5px;   
   
    background-color: #24105c;   
   
    color: white;   
    
    font-size: 15px;   
   
    cursor:pointer;  
} 
 
p {
    color: black;
}

.hyperlink a{
    text-decoration:underline;
    color: black
}

 
.camposCadastro button:hover { 
    background-color: #351783; 
}


.personagem {
    position: fixed;

    left: 30px;
    bottom: 20px;

    width: 180px;
    height: auto;

    object-fit: contain;
}