@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.container {   
    margin: 200px;   
    margin-left: 100px;
    margin-right: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
}
   
.login {   
    

    display: flex;   
    align-items: center;   
    justify-content: center;   
   
      
}   

   
.titulo {   
    width: 500px;   
    
}   
   
.titulo h1 {   
    margin: 0;   
    color: #5e17eb;  
    font-family: 'VT323', monospace;
    font-size: 100px;   
    font-weight: 400;
    letter-spacing: 3px;
}
   
.titulo p {   
    margin-top: 10px;   
   
    font-family: 'VT323', monospace;
    font-size: 22px;   
    line-height: 22px;    
    width: 300px;   
}   
   
   
.camposLogin {   
    width: 350px;   
    background-color: white;   
    padding: 35px;   
    border: 1px solid black;

    border-radius: 8px;
    box-sizing: border-box;   
}   
   
   
.camposLogin label {   
    display: block;   
   
    font-size: 18px;   
   
    margin-bottom: 8px;   
   
    color: #222;   
}   
   
   
.camposLogin input {   
    width: 100%;   
    height: 45px;   
   
    padding: 5px 10px;   
   
    margin-bottom: 22px;   
   
    box-sizing: border-box;   
   
    border: 1px solid #999;   
    border-radius: 5px;   
   
    background-color: #d9d9d9;   
     
    font-size: 15px;   
}   
   
   
.camposLogin button, input[type="submit"] {   
    width: 100%;   
    height: 45px;   
   
    margin-top: 5px;   
     
    border-radius: 5px;   
   
    background-color: #24105c;   
   
    color: white;   
    
    font-size: 15px;   
   
    cursor:pointer;   
}   
   
   
.camposLogin button:hover {   
    background-color: #351783;   
}  
  
  
.personagem {  
    position: fixed;  
  
    left: 30px;  
    bottom: 20px;  
  
    width: 350px;  
    height: auto;  
  
    object-fit: contain;  

    z-index: 10;
}

.hyperlink a{
    text-decoration: underline;
    color: black;
}